$grey: #7f7f7f;

.code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 11pt;
  margin-left: 10px;
}

.timestamp {
  color: $grey;
  font-size: 9pt;
  margin-bottom: 2px;
}

p {
  margin-bottom: 20px;
  margin-top: 5px;
}

li {
  list-style-type: none;
}

ol {
  padding: 0;
}
