@import 'octicons/octicons.scss';

$grey: #7f7f7f;
$gutter: 10px;

.activity {
  p {
    margin-top: 5px;
  }

  li {
    list-style-type: none;
    margin-bottom: 20px;
  }

  ol {
    padding: 0;
  }

  .code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 11pt;
  }

  .indented {
    margin-left: 10px;
  }

  .timestamp {
    color: $grey;
    font-size: 9pt;
    margin-bottom: 2px;
  }

  .gutter {
    margin: $gutter;
  }

  .gutter-horiz {
    margin: 0 $gutter 0 $gutter;
  }

  .gutter-vert {
    margin: $gutter 0 $gutter 0;
  }

  @each $dir in (top bottom left right) {
    .gutter-#{$dir} {
      margin-#{$dir}: $gutter;
    }
  }
}
