$grey: #7f7f7f;

.activity {
  p {
    margin-top: 5px;
  }

  li {
    list-style-type: none;
    margin-bottom: 20px;
  }

  ol {
    padding: 0;
  }

  .code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 11pt;
  }

  .indented {
    margin-left: 10px;
  }

  .timestamp {
    color: $grey;
    font-size: 9pt;
    margin-bottom: 2px;
  }
}
